/* SCSS Variable Declarations */

$orange       : #FF8F12;
$green		  : #0DB752;
$headerHeight : 56px;
$sidebarWidth : 70vw;

/* SCSS Start */

content {
	.content-top {
		position: relative;

		padding-top: $headerHeight;

		height : 100vh;

		background-repeat: no-repeat;
		background-size: 350px;
		background-position: center 30vh;
			
		h1 {
			padding: 40px;
			width: 100%;

			text-align: center;

			color: rgba(0, 0, 0, 0.5);
		}

		.content-bar-container {
			position: absolute;

			bottom : $headerHeight;

			width  : 100%;
			height : 96px;

			.bar-orange {
				width: 100%;
				height: 6px;

				background: $orange;
			}

			.bar-spacer {
				width: 100%;
				height: 6px;
			}
		}

		.content-bottom-bar {
			position: absolute;

			bottom : 0;
			left   : 0;		
			

			width: 100%;
			height: $headerHeight;

			min-height : 36px;
			max-height : 56px;
			
			background: #FF8F12;

			.content-status {
				padding: 8px 16px;
				float: left;

				color: #FFFFFF;

				font-size: 16px;

				span {
					font-size: 36px;
				}
			}

			button {
				color: #FFFFFF;
				float: right;
				width: $headerHeight;
				height: $headerHeight;
				font-size: 20px;

				i {
					transition: all 400ms ease-in-out;

					transform: rotate(0deg);
				}

				&:active {
					background: rgba(0, 0, 0, 0.1);
				}

				&.active {
					i {
						transition: all 400ms ease-in-out;

						transform: rotate(-180deg);
					}
				}
			}
		}
	}

	.content-bottom {
		position: relative;

		background: #333333;

		width: 101vw;
		height: 100vh;

		padding-top: 30px;
		padding-bottom: $headerHeight * 2;

		box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.5);

		.content-button-container {

			margin: 0 auto;
			
			width: 300px;
			height: 30px;
			
			button {
				float: left;
				font-weight: 600;

				width: 33%;
				height: 100%;

				color: $orange;

				border-top: $orange 2px solid;
				border-bottom: $orange 2px solid;

				&:first-of-type {
					border-top-left-radius    : 5px;
					border-bottom-left-radius : 5px;

					border: $orange 2px solid;
				}

				&:last-of-type {
					border-top-right-radius    : 5px;
					border-bottom-right-radius : 5px;
					border: $orange 2px solid;
				}

				&.active {
					color: #FFFFFF;
					background: $orange;
				}
			}
		}

		.content-bottom-container {
			position: relative;
			width: 50vh;
			height: 50vh;

			border-radius: 5px;
			padding: 5px;

			margin: 20px auto;
			min-width: 300px;
			min-height: 300px;

			max-width: 90vw;
			max-height: 90vw;

			> div {
				display: none;

				width: 100%;
				height: 100%;
				&.active {
					display: inline-block;
				}
			}
			text-align: center;

			h2 {
				color: #FFFFFF;
			}

			h3 {
				color: rgba(#FFFFFF, 0.5);
				font-weight: 200;
			}

			p {
				text-align: left;

				padding-top: 20px;
				color: #FFFFFF;
				font-size: 18px;
			}


			.content-nutrition-item {
				position: relative;
				
				float: left;
				
				margin: 2.5%;
				
				width: 45%;
				height: 45%;

				border-radius: 10px;

				background: #FFFFFF;

				box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.5);

				text-align: center;

				font-size: 14px;

				color: #333333;

				.serving {
					width: 100%;
					height: 80%;
					padding-top: 30px;

					span {
						font-size: 50px;						
					}
				}
			}

			table {
				height: 100%;
				width: 100%;

				.content-stats-item {
					margin-top: -5px;

					position: relative;
					
					float: left;

					text-align: center;
									
					width: 60px;
					height: 60px;

					text-align: center;

					font-size: 12px;

					color: #FFFFFF;
				}

				.content-stats-item-content {
					margin-left: -10px;

					padding-top: 20px;
					
					width: 60px;
					height: 60px;

					color: $orange;

				}

				button {
					width: 130px;
					margin-left: 20px;
					color: $orange;

					font-size: 14px;

					font-weight: 400;

					padding: 10px;
					border-radius: 5px;
					border: $orange 2px solid;

					&:active {
						color: #FFFFFF;
						background: $orange;	
					}
				}
			}
		}
	}
}

.vitamins {
	width: 100%;
	height: 80%;
	padding-top: 30px;

	font-size: 50px;
}

.fiber {
	width: 100%;
	height: 80%;
	background-image: url('/img/fiber.png');
	background-size: 50%;
	background-position: center 20px;
	background-repeat: no-repeat;
}

.protein {
	width: 100%;
	height: 80%;
	background-image: url('/img/protein.png');
	background-size: 50%;
	background-position: center 20px;
	background-repeat: no-repeat;
}

.iron {
	width: 100%;
	height: 80%;
	background-image: url('/img/iron.png');
	background-size: 50%;
	background-position: center 20px;
	background-repeat: no-repeat;
}

.light {
	width: 100%;
	height: 80%;
	background-image: url('/img/light.png');
	background-size: 50%;
	background-position: center 10px;
	background-repeat: no-repeat;
}

.water {
	width: 100%;
	height: 80%;
	background-image: url('/img/water.png');
	background-size: 50%;
	background-position: center 10px;
	background-repeat: no-repeat;
}

.power {
	width: 100%;
	height: 80%;
	background-image: url('/img/power.png');
	background-size: 50%;
	background-position: center 10px;
	background-repeat: no-repeat;
}