/* SCSS Variable Declarations */

$orange       : #FF8F12;
$green		  : #0DB752;
$headerHeight : 56px;
$sidebarWidth : 70vw;

/* SCSS Start */

* {
	font-family: sans-serif;
	font-weight: 300;
	margin  : 0;
	padding : 0;

	box-sizing         : border-box;
	-moz-box-sizing    : border-box;
	-webkit-box-sizing : border-box;

	border  : none;
	outline : none;

	background: transparent;
}

body {
	width  : 100vw;
	height : 100vh;

	overflow: hidden;
}

header {
	position: absolute;

	top  : 0;
	left : 0;

	z-index: 1;

	width  : 100%;
	height : $headerHeight;

	min-width: 240px;

	min-height : 36px;
	max-height : 56px;

	box-shadow: inset 2px -2px 0 2px $orange;

	background: #FFFFFF;

	svg, p {
		min-height : 36px;
		max-height : 56px;
	}
}

sidebar {
	position: absolute;

	top  : 0;
	left : -$sidebarWidth;
	
	z-index: 3;

	width  : $sidebarWidth;
	height : 100vh;

	overflow: hidden;

	background: $orange;

	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

content {
	position: absolute;

	top  : 0;
	left : 0;

	z-index: 0;

	width  : 100vw;
}

.dimmer {
	position: absolute;

	display: none;

	top  : 0;
	left : 0;

	z-index: 2;

	width  : 100vw;
	height : 100vh;

	overflow: hidden;

	background: rgba(0, 0, 0, 0.75);
}